<ion-content [fullscreen]="true" color="light">
  <div class="center">
    <ion-card color="primary">
      <img src="assets/logo.png">
      <ion-card-title class="ion-text-center" style="text-transform: uppercase; font-size: 30px; font-weight: bold;">LOGIN</ion-card-title>

      <ion-item lines="none" color="azul">
        <ion-label position="floating" color="light">E-mail:</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" color="azul">
        <ion-label position="floating" color="light">Senha:</ion-label>
        <ion-input type="senha" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-button (click)="login()" expand="full" fill="clear" color="light">ENTRAR</ion-button>
      <ion-button expand="full" fill="clear" color="light">CADASTRAR-SE</ion-button>

    </ion-card>
  </div>
</ion-content>
