<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
    <!-- interpolação -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <!-- Doutor Estranho -->
    <ion-item-sliding *ngFor="let filme of listaVideos">
      <!-- router link é uma propriedade angular q permite estabelecer rotas entre páginas -->
      <ion-item lines="full" [routerLink]=filme.pagina>
        <!-- linha vai de um canto ao outro -->
        <ion-thumbnail slot="start">
          <img
            [src]="filme.cartaz"
          /> <!-- binding: property bind -->
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <!-- quebra a linha quando o texto chega ao limite de espaço -->
          <div>
            <!-- dentro de tags sempre usar interpolação -->
            <h1>{{filme.nome}}</h1>
            <p>{{filme.dataLancamento}} - {{filme.duracao}}</p>
            <!-- ngFor é uma propriedade ionic, pode ser usada em arrays -->
            <ion-badge color="light" *ngFor="let genero of filme.generos">{{genero}}</ion-badge>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>{{filme.classificacao}}%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="laranja" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>




  </ion-list>
</ion-content>
